/* CUSTOM: Added `tw:` prefix */
@import 'tailwindcss' prefix(tw);
@import 'tw-animate-css';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* CUSTOM: need some config from tailwind.config.ts which can't be inlined in this file */
@config '../tailwind.config.ts';

/* #region shared with https://github.com/paranext/paranext-core/blob/main/lib/platform-bible-react/src/index.css */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --color-sidebar-background: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*
 * Theme colors and other CSS variable properties in Platform.Bible. These are applied in CSS
 * properties using `var(--variableName)` or Tailwind classes like `tw:bg-primary`
 *
 * See the wiki's [Matching Application
 * Theme](https://github.com/paranext/paranext-extension-template/wiki/Extension-Anatomy#matching-application-theme)
 * section for more information
 */
@layer base {
  @font-face {
    font-family: 'Inter';
    font-display: 'swap';
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
  }

  /* ["Slate" base theme by shadcn/ui](https://ui.shadcn.com/docs/theming#slate) */
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84% 4.9%); /* black */
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84% 4.9%); /* black */
    --popover: hsl(210 20% 98%); /* popover platform */
    --popover-foreground: hsl(222.2 84% 4.9%); /* black */
    --primary: hsl(222.2 47.4% 11.2%);
    --primary-foreground: hsl(210 40% 98%);
    --secondary: hsl(210 50% 95%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%); /* slate-900 */
    --muted: hsl(210 50% 95%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);
    --accent: hsl(210 50% 95%);
    --accent-foreground: hsl(222.2 47.4% 11.2%); /* slate-900 */
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 40% 98%); /* slate-50 */
    --border: hsl(214.3 31.8% 91.4%); /* slate-200 */
    --input: hsl(214.3 31.8% 91.4%); /* slate-200 */
    --ring: hsl(222.2 84% 4.9%); /* black */

    --sidebar-background: hsl(210 20% 98%); /* popover platform */
    --sidebar-foreground: hsl(222.2 84% 4.9%); /* black */
    --sidebar-primary: hsl(222.2 47.4% 11.2%);
    --sidebar-primary-foreground: hsl(210 40% 98%);
    --sidebar-accent: hsl(210 50% 95%);
    --sidebar-accent-foreground: hsl(222.2 47.4% 11.2%); /* slate-900 */
    --sidebar-border: hsl(214.3 31.8% 91.4%); /* slate-200 */
    --sidebar-ring: hsl(222.2 84% 4.9%); /* black */

    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(222.2 84% 4.9%); /* black */
    --foreground: hsl(210 40% 98%); /* slate-50 */
    --card: hsl(222.2 84% 4.9%); /* black */
    --card-foreground: hsl(210 40% 98%); /* slate-50 */
    --popover: hsl(222.2 84% 4.9%); /* black */
    --popover-foreground: hsl(210 40% 98%); /* slate-50 */
    --primary: hsl(210 40% 98%); /* slate-50 */
    --primary-foreground: hsl(222.2 47.4% 11.2%); /* slate-900 */
    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%); /* slate-50 */
    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);
    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%); /* slate-50 */
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(210 40% 98%); /* slate-50 */
    --border: hsl(215.3 19.3% 34.5%); /* slate-600 */
    --input: hsl(215.3 19.3% 34.5%); /* slate-600 */
    --ring: hsl(212.7 26.8% 83.9%);

    --sidebar-background: hsl(222.2 84% 4.9%); /* black */
    --sidebar-foreground: hsl(215 20.2% 65.1%);
    --sidebar-primary: hsl(210 40% 98%); /* slate-50 */
    --sidebar-primary-foreground: hsl(222.2 47.4% 11.2%); /* slate-900 */
    --sidebar-accent: hsl(217.2 32.6% 17.5%);
    --sidebar-accent-foreground: hsl(215 20.2% 65.1%);
    --sidebar-border: hsl(217.2 32.6% 17.5%);
    --sidebar-ring: hsl(212.7 26.8% 83.9%);
  }

  /* Palette built in https://tweakcn.com/themes/cmeukcpoj000204l45lxw5a74 based on "Caffeine" theme*/
  .paratext-light {
    --background: hsl(0 0% 97.6471%);
    --foreground: hsl(0 0% 12.549%);
    --muted: hsl(0 0% 93.7255%);
    --muted-foreground: hsl(0 0% 39.2157%);
    --popover: hsl(0 0% 98.8235%);
    --popover-foreground: hsl(0 0% 12.549%);
    --card: hsl(0 0% 98.8235%);
    --card-foreground: hsl(0 0% 12.549%);
    --border: hsl(0 0% 84.7059%);
    --input: hsl(0 0% 84.7059%);
    --primary: hsl(171.4286 81.8182% 15.098%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(34.0541 100% 85.4902%);
    --secondary-foreground: hsl(16.2712 50.4274% 22.9412%);
    --accent: hsl(0 0% 90.9804%);
    --accent-foreground: hsl(0 0% 12.549%);
    --destructive: hsl(10.1639 77.8723% 53.9216%);
    --destructive-foreground: hsl(0 0% 100%);
    --ring: hsl(16.6667 21.9512% 32.1569%);

    /* WARN: in Shadcn files, `--sidebar-background` is `--sidebar`
     * I recommend changing this to make it match Shadcn.
     */
    --sidebar-background: hsl(0 0% 98.4314%);
    --sidebar-foreground: hsl(0 0% 14.5098%);
    --sidebar-primary: hsl(0 0% 20.3922%);
    --sidebar-primary-foreground: hsl(0 0% 98.4314%);
    --sidebar-accent: hsl(0 0% 93.7255%);
    --sidebar-accent-foreground: hsl(0 0% 20.3922%);
    --sidebar-border: hsl(0 0% 92.1569%);
    --sidebar-ring: hsl(0 0% 70.9804%);
  }

  .paratext-dark {
    --background: hsl(0 0% 6.6667%);
    --foreground: hsl(0 0% 93.3333%);
    --muted: hsl(0 0% 13.3333%);
    --muted-foreground: hsl(0 0% 70.5882%);
    --popover: hsl(0 0% 9.8039%);
    --popover-foreground: hsl(0 0% 93.3333%);
    --card: hsl(0 0% 9.8039%);
    --card-foreground: hsl(0 0% 93.3333%);
    --border: hsl(45 14.2857% 10.9804%);
    --input: hsl(0 0% 28.2353%);
    --primary: hsl(40 85.7143% 97.2549%);
    --primary-foreground: hsl(183.1579 54.2857% 6.8627%);
    --secondary: hsl(28.2353 17.5258% 19.0196%);
    --secondary-foreground: hsl(29.5082 100% 88.0392%);
    --accent: hsl(0 0% 16.4706%);
    --accent-foreground: hsl(0 0% 93.3333%);
    --destructive: hsl(10.1639 77.8723% 53.9216%);
    --destructive-foreground: hsl(0 0% 100%);
    --ring: hsl(29.5082 100% 88.0392%);

    --sidebar-background: hsl(240 5.8824% 10%);
    --sidebar-foreground: hsl(240 4.7619% 95.8824%);
    --sidebar-primary: hsl(224.2781 76.3265% 48.0392%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(240 3.7037% 15.8824%);
    --sidebar-accent-foreground: hsl(240 4.7619% 95.8824%);
    --sidebar-border: hsl(240 3.7037% 15.8824%);
    --sidebar-ring: hsl(240 4.878% 83.9216%);
  }
}
/* #endregion */

/* #region shared with https://github.com/paranext/paranext-core/blob/main/lib/platform-bible-react/src/index.css but with the difference of being scoped to .pr-twp in platform-bible-react */
@layer base {
  * {
    @apply tw:border-border tw:outline-ring/50;
  }

  body {
    @apply tw:bg-background tw:text-foreground;
  }
}
/* #endregion */
