<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- requires github personal access token -->
        <add key="github" value="https://nuget.pkg.github.com/sillsdev/index.json" />
    </packageSources>
  <disabledPackageSources>
    <add key="github" value="true" />
  </disabledPackageSources>
</configuration>
