apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: languagedepot

resources:
- ../base/
- secrets.yaml

configMapGenerator:
- name: otel-config
  files:
    - collector-config.yaml

patches:
  - target:
      version: v1
      kind: PersistentVolumeClaim
    path: change-storage-class.patch.yaml
