#file: noinspection KubernetesMissingKeys,KubernetesUnknownValues
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lexbox
  namespace: languagedepot
  labels:
    app: lexbox
spec:
  template:
    spec:
      containers:
      - name: lexbox-api
        imagePullPolicy: IfNotPresent
        resources:
            requests:
                memory: 200Mi
            limits:
                memory: 1Gi
        volumeMounts:
          - $patch: delete
            name: ssh-config
        env:
          - name: ASPNETCORE_ENVIRONMENT
            value: "Development"
          - name: DbConfig__DefaultSeedUserPassword
            value: "pass"
            valueFrom: # don't use secret as defined in base
          - name: Authentication__Jwt__Secret
            value: "dev-secret_but-it-must-be-32-characters-long"
#            intentionally set this to no value
            valueFrom:
          - name: CloudFlare__TurnstileKey
            value: "1x0000000000000000000000000000000AA"
            valueFrom:
          - name: CloudFlare__AllowDomain
            value: "mailinator.com"
          - name: Email__SmtpUser
            value: 'maildev'
            valueFrom:
          - name: Email__SmtpPassword
            value: 'maildev_pass'
            valueFrom:
          - name: HgConfig__RedmineTrustToken
            valueFrom:
              secretKeyRef:
                key: RedmineTrustToken
                name: lexbox-api
                optional: true
          - name: HgConfig__LfMergeTrustToken
            value: 'dummy'
            valueFrom:
      - name: maildev
        image: maildev/maildev # https://github.com/maildev/maildev/blob/master/README.md#usage
        ports:
          - containerPort: 1080 # ui port
          - containerPort: 1025 # smtp port
        env:
          - name: MAILDEV_INCOMING_USER
            value: 'maildev'
          - name: MAILDEV_INCOMING_PASS
            value: 'maildev_pass'
      initContainers:
        - $patch: delete
          name: db-migrations

