apiVersion: apps/v1
kind: Deployment
metadata:
  name: lexbox
  namespace: languagedepot
  labels:
    app: lexbox
spec:
  template:
    spec:
      containers:
      - name: lexbox-api
        imagePullPolicy: IfNotPresent
        env:
          - name: DOTNET_URLS
            value: http://0.0.0.0:5158
          - name: ASPNETCORE_ENVIRONMENT
            value: "Development"
          - name: Authentication__Jwt__Secret
            value: "dev-secret_but-it-must-be-32-characters-long"
          - name: CloudFlare__TurnstileKey
            value: "1x0000000000000000000000000000000AA"
          - name: Email__SmtpUser
            value: 'maildev'
          - name: Email__SmtpPassword
            value: 'maildev'
