#file: noinspection KubernetesMissingKeys
#file is a patch file that will be applied to the base deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lexbox
  namespace: languagedepot
spec:
  template:
    spec:
      containers:
        - name: lexbox-api
          resources:
            limits:
              memory: 350Mi
          env:
            - name: Email__SmtpHost
              value: email-smtp.us-east-1.amazonaws.com
            - name: Email__SmtpPort
              value: '587'
            - name: Email__From
              # TODO: need to parameterize this
              value: "Language Depot <no-reply@languagedepot.org>"
            - name: Email__BaseUrl
              value: "https://prod.languagedepot.org"
            - name: HgConfig__PublicRedmineHgWebUrl
              value: "https://hg-public-redmine.languagedepot.org/"
            - name: HgConfig__PrivateRedmineHgWebUrl
              value: "https://hg-private-redmine.languagedepot.org/"
            - name: HgConfig__RedmineHgResumableUrl
              value: "https://resumable-redmine.languageforge.org"
