root = true

; applies to all files
[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

; applies only to Makefiles
[Makefile]
indent_style = tab
tab_width = 4

; applies only to JS, TS, and YML files
[*.{js,ts,yml,yaml}]
tab_width = 2
indent_size = 2
continuation_indent_size = 2
ij_javascript_force_quote_style = true
ij_javascript_use_double_quotes = false
ij_typescript_force_quote_style = true
ij_typescript_use_double_quotes = false

[*.svelte]
tab_width = 2
indent_size = 2

; applies only to JSON files
[*.json]
tab_width = 4
indent_size = 2
continuation_indent_size = 8

; applies only to Markdown files
[*.md]
trim_trailing_whitespace = false

; applies only to PHP files
[*.php]
tab_width = 2
indent_size = 2
continuation_indent_size = 2

; applies to the rest of these files
[*.{css, html, xml}]
tab_width = 2
indent_size = 2
continuation_indent_size = 2

[*.cs]
tab_width = 4
indent_size = 4
continuation_indent_size = 4

# Verify settings
[*.{received,verified}.{json,txt,xml}]
end_of_line = lf
indent_size = unset
indent_style = unset
insert_final_newline = false
tab_width = unset
trim_trailing_whitespace = false