.DS_Store
bin/
obj/
/data/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.DotSettings.user
**/Mercurial/
**/MercurialExtensions/
backend/Testing/SyncReverseProxy/TestData.cs
.task
deployment/local-dev/collector-config.yaml
local.env
.env.local
cookies.txt
dump.sql
test-results/
**/*.sqlite
**/*.sqlite-*
msal.cache
artifacts/
