.DS_Store
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.DotSettings.user
**/Mercurial/
**/MercurialExtensions/
backend/Testing/SyncReverseProxy/TestData.cs
.task
deployment/dev/collector-config.yaml
deployment/dev/local.env
dump.sql
