**/bin
**/obj
*Dockerfile
Testing
!Testing/test-template-repo.zip
FwLite/FwLiteWeb
FwLite/FwLiteMaui
FwLite/FwLiteShared
**/artifacts/publish
FwHeadless/Mercurial
FwHeadless/MercurialExtensions
*.sqlite
*.sqlite-shm
*.sqlite-wal
