# https://kubernetes.io/docs/concepts/services-networking/service/#defining-a-service
apiVersion: v1
kind: Service
metadata:
  name: hg
  namespace: languagedepot
  labels:
    app: hg
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app: hg
  ports:
    - name: hg-resumable
      protocol: TCP
      port: 80
    - name: hgweb
      protocol: TCP
      port: 8088

---

# https://kubernetes.io/docs/concepts/storage/persistent-volumes/#persistentvolumeclaims
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hgresumable-cache
  namespace: languagedepot
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi

---

# https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#writing-a-deployment-spec
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hg
  namespace: languagedepot
  labels:
    app: hg
spec:
  selector:
    matchLabels:
      app: hg
  strategy:
      type: Recreate
  template:
    # https://kubernetes.io/docs/concepts/workloads/pods/#pod-templates
    metadata:
      labels:
        app: hg
    spec:
      containers:
      - name: hgweb
        image: ghcr.io/sillsdev/lexbox-hgweb:latest
        # https://kubernetes.io/docs/concepts/configuration/manage-resources-containers
        resources:
          requests: # TODO: need to establish resource limits, possibly after seeing it in action for some regular and/or load testing
            memory: 260Mi
          limits:
            memory: 400Mi
        env:
          - name: CUSTOM_PORT
            value: "8088"
        ports:
          - containerPort: 8088

        volumeMounts:
          - name: repos
            mountPath: /var/hg/repos

      - name: hgresumable
        image: ghcr.io/sillsdev/hgresume:v2023-02-24
        # https://kubernetes.io/docs/concepts/configuration/manage-resources-containers
        resources:
          requests: # TODO: need to establish resource limits, possibly after seeing it in action for some regular and/or load testing
            memory: 260Mi
          limits:
            memory: 400Mi
        ports:
          - containerPort: 80

        volumeMounts:
        - name: cache
          mountPath: /var/cache/hgresume
        - name: repos
          mountPath: /var/vcs/public

      volumes:
      - name: cache
        persistentVolumeClaim:
          claimName: hgresumable-cache
      - name: repos
        persistentVolumeClaim:
          claimName: hg-repos # established in hg-repos-pvc.yaml
