# https://kubernetes.io/docs/concepts/services-networking/service/#defining-a-service
apiVersion: v1
kind: Service
metadata:
  name: k8sdev
  namespace: languagedepot
  labels:
    app: k8sdev
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app: k8sdev
  ports:
  - name: ssh
    protocol: TCP
    port: 2222

---

# https://kubernetes.io/docs/concepts/storage/persistent-volumes/#persistentvolumeclaims
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: k8sdev-git
  namespace: languagedepot
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path

---

# https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#writing-a-deployment-spec
apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8sdev
  namespace: languagedepot
  labels:
    app: k8sdev
spec:
  selector:
    matchLabels:
      app: k8sdev
  strategy:
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 1
    type: RollingUpdate
  template:
    # https://kubernetes.io/docs/concepts/workloads/pods/#pod-templates
    metadata:
      labels:
        app: k8sdev
    spec:
      serviceAccountName: lexbox-deployer
      containers:
      - name: k8sdev
        image: lscr.io/linuxserver/openssh-server:latest
        imagePullPolicy: Always
        # https://kubernetes.io/docs/concepts/configuration/manage-resources-containers
        resources:
          requests: # TODO: copied from lexbox-deployment, but do these make sense for the Git repo container?
            memory: 100Mi
          limits:
            memory: 150Mi
        ports:
          - containerPort: 2222

        volumeMounts:
        - name: k8sdev-git
          mountPath: /app

        - name: publickey
          mountPath: /config/publickey
          subPath: authorized_keys
          readOnly: true
        env:
          - name: ASPNETCORE_ENVIRONMENT
            value: Staging
          - name: PUID
            value: "1000"
          - name: PGID
            value: "1000"
          - name: PUBLIC_KEY_FILE
            value: /config/publickey
          - name: USER_NAME
            value: k8sdev
          - name: SUDO_ACCESS
            value: "true"

      initContainers:
      - name: clonerepo
        image: alpine/git
        command: ['sh', '-c', 'git clone https://github.com/sillsdev/languageforge-lexbox /app']
        volumeMounts:
        - name: k8sdev-git
          mountPath: /app
      - name: fixperms
        image: busybox
        command: ['sh', '-c', 'chown -R 1000:1000 /app']
        volumeMounts:
        - name: k8sdev-git
          mountPath: /app

      volumes:
      - name: k8sdev-git
        persistentVolumeClaim:
          claimName: k8sdev-git
      - name: publickey
        secret:
          secretName: k8sdev-ssh-public-key
