# https://kubernetes.io/docs/concepts/services-networking/ingress/#the-ingress-resource
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: proxy
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  defaultBackend:
    service:
      name: lexbox
      port:
        name: sveltekit
  rules:
  - host: staging.languagedepot.org
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: lexbox
            port:
              name: http
      - path: /hg
        pathType: Prefix
        backend:
          service:
            name: lexbox
            port:
              name: http
      - path: /v1/traces
        pathType: Prefix
        backend:
          service:
            name: lexbox
            port:
              name: otel
      - path: /api/github-deploy
        pathType: Exact
        backend:
          service:
            name: lexbox
            port:
              name: github-deploy
  - host: hg-staging.languagedepot.org
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: lexbox
            port:
              name: http
  - host: resumable-staging.languagedepot.org
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: lexbox
            port:
              name: http

  tls:
  - hosts:
    - staging.languagedepot.org
    - hg-staging.languagedepot.org
    - resumable-staging.languagedepot.org
    secretName: languagedepot-tls # provided by LTOps
