# https://kubernetes.io/docs/concepts/services-networking/service/#defining-a-service
apiVersion: v1
kind: Service
metadata:
  name: hg
  namespace: languagedepot
  labels:
    app: hg
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app: hg
  ports:
    - name: hg-resumable
      protocol: TCP
      port: 80
    - name: hgweb
      protocol: TCP
      port: 8088

---

# https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#writing-a-deployment-spec
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hg
  namespace: languagedepot
  labels:
    app: hg
spec:
  selector:
    matchLabels:
      app: hg
  strategy:
      type: RollingUpdate
      rollingUpdate:
        maxSurge: 2
        maxUnavailable: 0
  template:
    # https://kubernetes.io/docs/concepts/workloads/pods/#pod-templates
    metadata:
      labels:
        app: hg
    spec:
      securityContext:
        fsGroup: 33
      containers:
      - name: hgweb
        image: ghcr.io/sillsdev/lexbox-hgweb:latest
        # https://kubernetes.io/docs/concepts/configuration/manage-resources-containers
        resources:
          requests:
            memory: 400Mi
          limits:
            memory: 400Mi
        env:
          - name: CUSTOM_PORT
            value: "8088"
          - name: OTEL_ENDPOINT
            value: 'lexbox:4317'
          - name: OTEL_EXPORTER_OTLP_ENDPOINT
            value: 'http://lexbox:4317'
          - name: OTEL_INSTRUMENTATION_HTTP_CAPTURE_HEADERS_SERVER_REQUEST
            value: ".*"
          - name: OTEL_INSTRUMENTATION_HTTP_CAPTURE_HEADERS_SERVER_RESPONSE
            value: ".*"
          - name: OTEL_ENABLED
            valueFrom:
              configMapKeyRef:
                name: app-config
                key: hg-otel-enabled
          - name: ENABLE_DEMAND_IMPORT
            value: "false"
        ports:
          - containerPort: 8088

        startupProbe:
          httpGet:
            path: /
            port: 8088
          failureThreshold: 30
          periodSeconds: 10

        volumeMounts:
          - name: repos
            mountPath: /var/hg/repos
          - name: hg-apache-config
            mountPath: /usr/local/apache2/conf/sites
            readOnly: true
          - name: hgrc
            mountPath: /var/hg
            readOnly: true



      - name: hgresumable
        image: ghcr.io/sillsdev/hgresume:v2023-07-12
        # https://kubernetes.io/docs/concepts/configuration/manage-resources-containers
        resources:
          requests:
            memory: 400Mi
          limits:
            memory: 400Mi
        ports:
          - containerPort: 80

        volumeMounts:
        - name: cache
          mountPath: /var/cache/hgresume
        - name: repos
          mountPath: /var/vcs/public

      volumes:
      - name: cache
        emptyDir:
          sizeLimit: 3Gi
      - name: repos
        persistentVolumeClaim:
          claimName: hg-repos # established in pvc.yaml
      - name: hg-apache-config
        configMap:
          name: hg-config
          items:
          - key: hg.conf
            path: hg.conf
      - name: hgrc
        configMap:
          name: hg-config
          items:
          - key: hgweb.hgrc
            path: hgweb.hgrc

      initContainers:
      - name: init-repo-structure
        securityContext:
          runAsUser: 33
          runAsGroup: 33 # www-data
        image: busybox:1.36.1
        command:
          - 'sh'
          - '-c'
          - |
            cd /repos
            mkdir -p a b c d e f g h i j k l m n o p q r s t u v w x y z
            mkdir -p 0 1 2 3 4 5 6 7 8 9
            find . -maxdepth 1 -type d -name '[a-z0-9]?*' | while IFS= read -r folder; do
              project=$(basename "$folder")
              if [[ -L "$project" ]]; then
                echo "Skipping symlinked folder: $project"
                continue
              fi
              first_letter=$(echo "$project" | head -c1)

              mv "$folder" ./"$first_letter"/
              # need to use relative path for symlink to work in multiple pods
              ln -s "$first_letter"/"$project" "$project"
            done
        volumeMounts:
          - name: repos
            mountPath: /repos
