apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: languagedepot

resources:
- config-map.yaml
- hg-deployment.yaml
- hasura-deployment.yaml
- lexbox-deployment.yaml
- ui-deployment.yaml
- proxy-deployment.yaml
