apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: languagedepot

resources:
#  this enables us to define configMaps from files outside of the deployment folder, we can't put one in the root however
- ../../hgweb
- ../../otel
- pvc.yaml
- db-deployment.yaml
- hg-deployment.yaml
- lexbox-deployment.yaml
- ui-deployment.yaml
- proxy-deployment.yaml
