# https://kubernetes.io/docs/concepts/services-networking/ingress/#the-ingress-resource
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: proxy
  namespace: languagedepot
  annotations:
    nginx.ingress.kubernetes.io/proxy-buffer-size: "16k"
#    https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#custom-max-body-size
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
spec:
  ingressClassName: nginx
  rules:
# each host here is patched by index, so don't change the order of them in this file without changing the patch files (ingress-config.yaml)
  - host: localhost
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: lexbox
            port:
              name: http
      - path: /hg
        pathType: Prefix
        backend:
          service:
            name: lexbox
            port:
              name: http
      - path: /security.txt
        pathType: Prefix
        backend:
          service:
            name: lexbox
            port:
              name: http
      - path: /.well-known
        pathType: Prefix
        backend:
          service:
            name: lexbox
            port:
              name: http
      - path: /v1/traces
        pathType: Prefix
        backend:
          service:
            name: lexbox
            port:
              name: otel
      - path: /
        pathType: Prefix
        backend:
          service:
            name: ui
            port:
              name: sveltekit
  - host: hg.localhost
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: lexbox
            port:
              name: http
  - host: resumable.localhost
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: lexbox
            port:
              name: http
  - host: admin.localhost
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: lexbox
            port:
              name: http

  tls:
  - hosts:
    - localhost
    - hg.localhost
    - resumable.localhost
    - admin.localhost
    secretName: languagedepot-tls # provided by LTOps
