#file: noinspection KubernetesMissingKeys
#file is a patch file that will be applied to the base deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lexbox
  namespace: languagedepot
spec:
  template:
    spec:
      containers:
        - name: lexbox-api
          resources:
            requests:
              memory: 350Mi #matching prod
            limits:
              memory: 350Mi

          env:
            - name: CloudFlare__AllowDomain
              value: "mailinator.com"
            - name: Email__SmtpHost
              value: email-smtp.us-east-1.amazonaws.com
            - name: Email__SmtpPort
              value: '587'
            - name: Email__From
              value: "Language Depot (Staging) <no-reply@staging.languagedepot.org>"
            - name: Email__BaseUrl
              value: "https://staging.languagedepot.org"
