#file: noinspection KubernetesMissingKeys
#file is a patch file that will be applied to the base deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lexbox
  namespace: languagedepot
spec:
  template:
    spec:
      containers:
        - name: lexbox-api
          env:
            - name: CloudFlare__AllowDomain
              value: "mailinator.com"
            - name: ASPNETCORE_ENVIRONMENT
              value: "Staging" #we don't want to act like dev as that's for local development
              valueFrom:
            - name: Email__SmtpHost
              value: email-smtp.us-east-1.amazonaws.com
            - name: Email__SmtpPort
              value: '587'
            - name: Email__From
              # TODO: need to parameterize this
              value: "Language Depot (Develop) <no-reply@develop.languagedepot.org>"
            - name: Email__BaseUrl
              value: "https://develop.lexbox.org"
