apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: languagedepot

resources:
- ../base/
#- secrets.yaml
- ingress-deployment.yaml
- db-secrets.yaml
- lf-classic-secrets.yaml
- self-signed-ssl.yaml
- pgadmin-deployment.yaml

components:
  - ../init-repos

secretGenerator:
  - name: otel
    namespace: languagedepot
    behavior: create
    envs:
      - local.env
  - name: google
    namespace: languagedepot
    behavior: create
    envs:
      - local.env

patches:
  - target:
      version: v1
      kind: PersistentVolumeClaim
    path: change-storage-class.patch.yaml
  - target:
      kind: Issuer
    path: delete-oauth-certs.yaml
  - target:
      kind: Certificate
    path: delete-oauth-certs.yaml

  - path: app-config.yaml
  - path: lexbox-deployment.patch.yaml
  - path: ui-deployment.patch.yaml
  - path: hg-repos-pvc.patch.yaml
  - path: lexbox-service.patch.yaml
  - path: ingress-config.patch.yaml
    target:
      kind: Ingress
      name: proxy
      namespace: languagedepot

images:
  - name: busybox:1.36.1
    newName: local-dev-init
