#file: noinspection KubernetesMissingKeys,KubernetesUnknownValues
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lexbox
  namespace: languagedepot
  labels:
    app: lexbox
spec:
  progressDeadlineSeconds: 300
  template:
    spec:
      containers:
      - name: lexbox-api
        imagePullPolicy: IfNotPresent
        startupProbe:
          # don't use the startup probe for local dev as it blocks skaffold from showing results until watch has started the app, which takes a while
          $patch: delete
        resources:
            requests:
                memory: 2Gi
            limits:
                memory: 2Gi
        env:
          - name: DbConfig__DefaultSeedUserPassword
            value: "pass"
            valueFrom: # don't use secret as defined in base
          - $patch: delete
            name: Authentication__Jwt__Secret
          - name: LfClassicConfig__ConnectionString
            value: mongodb://host.docker.internal:27017
          - name: ForwardedHeadersOptions__KnownNetworks__0
            value: "10.1.0.0/16"
          - name: CloudFlare__TurnstileKey
            value: "1x0000000000000000000000000000000AA"
            valueFrom:
          - name: CloudFlare__AllowDomain
            value: "mailinator.com"
          - name: Email__SmtpUser
            value: 'maildev'
            valueFrom:
          - name: Email__SmtpPassword
            value: 'maildev_pass'
            valueFrom:
          - name: HgConfig__LfMergeTrustToken
            value: 'dummy'
            valueFrom:
      - name: maildev
        image: maildev/maildev # https://github.com/maildev/maildev/blob/master/README.md#usage
        ports:
          - containerPort: 1080 # ui port
          - containerPort: 1025 # smtp port
        env:
          - name: MAILDEV_INCOMING_USER
            value: 'maildev'
          - name: MAILDEV_INCOMING_PASS
            value: 'maildev_pass'
      - name: otel-collector
        env:
          - name: COLLECTOR_CONFIG_OVERRIDE
            value: |
              exporters:
                otlp/aspire:
                  endpoint: localhost:18889
                  tls:
                    insecure: true
              service:
                pipelines:
                  traces:
                    exporters: [otlp, otlp/aspire]
                  metrics:
                    exporters: [otlp/metrics, otlp/aspire]
                  logs:
                    exporters: [otlp, otlp/aspire]
      - name: aspire
        image: mcr.microsoft.com/dotnet/nightly/aspire-dashboard:latest
        env:
          - name: DOTNET_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS
            value: "true"
        ports:
          - containerPort: 18889 # otel port
          - containerPort: 18888 # ui port
      initContainers:
        - $patch: delete
          name: db-migrations

