apiVersion: v1
kind: Secret
metadata:
  name: pgadmin-auth
  namespace: languagedepot
stringData:
  PGADMIN_DEFAULT_EMAIL: 'admin@test.com'
  PGADMIN_DEFAULT_PASSWORD: 'pass'
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pgadmin-config
data:
  servers.json: |
    {
      "Servers": {
        "1": {
          "Name": "lexbox",
          "Group": "Servers",
          "Port": 5432,
          "Username": "postgres",
          "PassFile": "/lexbox",
          "Host": "db",
          "SSLMode": "prefer",
          "MaintenanceDB": "postgres"
        }
      }
    }
---
apiVersion: v1
kind: Service
metadata:
  name: pgadmin
  namespace: languagedepot
  labels:
    app: pgadmin
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app: pgadmin
  ports:
    - name: http
      protocol: TCP
      port: 80

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgadmin
  namespace: languagedepot
  labels:
    app: pgadmin
spec:
  selector:
    matchLabels:
      app: pgadmin
  strategy:
      type: RollingUpdate
      rollingUpdate:
        maxSurge: 2
        maxUnavailable: 0
  template:
    metadata:
      labels:
        app: pgadmin
    spec:
      volumes:
      - name: pgadmin-config
        configMap:
          name: pgadmin-config
      containers:
      - name: pgadmin
        image: dpage/pgadmin4:8.10
        # pgadmin needs a specific format for its pgpass files
        # Can't just mount k8s secret, so have to run some pre-entrypoint code instead
        command: ["/bin/sh"]
        args:
          - "-c"
          - |
            mkdir -p  /tmp/pgadmin/admin_test.com
            echo "${POSTGRES_HOSTNAME}:${POSTGRES_PORT}:*:${POSTGRES_USERNAME}:${POSTGRES_PASSWORD}" > /tmp/pgadmin/admin_test.com/lexbox
            chown -R pgadmin /tmp/pgadmin/admin_test.com
            chmod 700 /tmp/pgadmin/admin_test.com
            chmod 600 /tmp/pgadmin/admin_test.com/lexbox
            ls -l /tmp/pgadmin/admin_test.com/lexbox
            /entrypoint.sh "$@"
        volumeMounts:
        - name: pgadmin-config
          mountPath: /pgadmin4/servers.json
          subPath: servers.json
          readOnly: true
        # TODO: After testing, create a persistent volume claim and mount it here
        # - name: pgadmin-data
        #   mountPath: /var/lib/pgadmin
        env:
        - name: PGADMIN_CONFIG_STORAGE_DIR
          value: "'/tmp/pgadmin'"
        - name: PGADMIN_LISTEN_ADDRESS
          value: "0.0.0.0"
        # Don't want pgadmin to run a Postfix instance, we don't need password-reset emails
        - name: PGADMIN_DISABLE_POSTFIX
          value: "true"
        - name: PGADMIN_DEFAULT_EMAIL
          valueFrom:
            secretKeyRef:
              name: pgadmin-auth
              key: PGADMIN_DEFAULT_EMAIL
        - name: PGADMIN_DEFAULT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: pgadmin-auth
              key: PGADMIN_DEFAULT_PASSWORD
        - name: POSTGRES_HOSTNAME
          value: db
        - name: POSTGRES_PORT
          value: "5432"
        - name: POSTGRES_USERNAME
          value: "postgres"
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db
              key: POSTGRES_PASSWORD
        ports:
          - name: http
            protocol: TCP
            containerPort: 80
        startupProbe:
          httpGet:
            path: /
            port: 80
          failureThreshold: 30
          periodSeconds: 10
