<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <!-- List of environment variables we want to set-->
      <TEST_SERVER_HOSTNAME>staging.languagedepot.org</TEST_SERVER_HOSTNAME>
      <TEST_STANDARD_HG_HOSTNAME>hg-staging.languagedepot.org</TEST_STANDARD_HG_HOSTNAME>
      <TEST_RESUMABLE_HG_HOSTNAME>resumable-staging.languagedepot.org</TEST_RESUMABLE_HG_HOSTNAME>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
