html, body {
	@apply h-full overflow-hidden;
}

/* frontend/src/lib/Icon.svelte */
/* default icon size was a little small, i.e., 1em, so bumping it globally here (ref: https://docs.iconify.design/icon-components/svelte/dimensions.html) */
div svg {
	font-size: 1.75rem;
	line-height: 1em;
}

/* frontend/src/lib/forms/Form.svelte */
form > * {
	@apply py-4;
}
form > button {
	@apply mt-4;
}

