/* These styles belong in EntryOrSensePicker.svelte, but the mixture of global and features like :dark and :is, are buggy if they're there 😞 */
.entry-sense-picker {

  .Collapse {
    @apply border-2 !border-t-2 rounded overflow-hidden m-0 transition-none;
  }

  .entry:not(.disabled.disable-expand) .Collapse {
    button:hover {
      & * {
        @apply bg-transparent;
      }
    }
  }

  /* We need this, because there's a bug that adds aria-expanded="true" even when the expansion panel is disabled */
  .entry:not(.disable-expand) .Collapse[aria-expanded="true"] {
  }

  .CollapseContent .ListItem {
    @apply !rounded-none;
  }

  .entry:is(.selected, :has(.selected)) .Collapse {

  }

  .selected.sense, .selected.entry button:not(.sense) {


    & > * {
      @apply bg-transparent;
    }
  }

  .disabled {
    &.entry [slot="trigger"] {
      @apply brightness-50 pointer-events-none;
    }

    &.sense {
      @apply brightness-50 pointer-events-none;
    }
  }
}
