name: Deploy
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version of the image to deploy'
        type: string
        required: true
      image:
        description: 'The image to update'
        type: string
        required: true
      deploy-domain:
        description: 'The domain to check for deployment'
        type: string
        required: true
      k8s-environment:
        description: 'The k8s environment to deploy to, needs to be a valid folder under deployment'
        type: string
        required: true
  workflow_call:
    inputs:
      version:
        description: 'The version of the image to deploy'
        type: string
        required: true
      image:
        description: 'The image to update, can use * to update all images'
        type: string
        required: true
      deploy-domain:
        description: 'The domain to check for deployment'
        type: string
        required: true
      k8s-environment:
        description: 'The k8s environment to deploy to, needs to be a valid folder under deployment'
        type: string
        required: true

jobs:
  deploy:
    # deploy checks out the fleet repo, we don't want more than one just running at once to avoid conflicts
    concurrency: deploy
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.k8s-environment }}
      url: https://${{ inputs.deploy-domain }}
    outputs:
      api-version: ${{ steps.get-api-version.outputs.result }}
      ui-version: ${{ steps.get-ui-version.outputs.result }}
    steps:
      - name: Checkout lexbox repo
        uses: actions/checkout@v3
        with:
          path: lexbox
      - name: Run kustomize
        working-directory: lexbox/deployment/${{ inputs.k8s-environment }}
        run: |
          kubectl kustomize . -o resources.yaml
      - name: Checkout fleet repo
        uses: actions/checkout@v3
        with:
          repository: ${{ vars.FLEET_REPO }}
          ssh-key: ${{ secrets.FLEET_REPO_SSH_KEY }}
          path: fleet
      - name: Copy yaml resources to fleet repo
        run: |
          cp lexbox/deployment/${{ inputs.k8s-environment }}/resources.yaml fleet/${{ inputs.k8s-environment }}/
      #        this kustomization file is in the fleet repo and only modifies the image versions being used.
      - name: Update image version in fleet kustomization.yaml
        uses: mikefarah/yq@v4.34.2
        with:
          cmd: yq eval -i '(.images.[] | select(.name == "${{ inputs.image }}").newTag) = "${{ inputs.version }}"' "fleet/${{ inputs.k8s-environment }}/kustomization.yaml"
      - name: Get API version
        uses: mikefarah/yq@v4.34.2
        id: get-api-version
        with:
          cmd: yq '.images.[] | select(.name == "ghcr.io/sillsdev/lexbox-api").newTag' "fleet/${{ inputs.k8s-environment }}/kustomization.yaml"
      - name: Get UI version
        uses: mikefarah/yq@v4.34.2
        id: get-ui-version
        with:
          cmd: yq '.images.[] | select(.name == "ghcr.io/sillsdev/lexbox-ui").newTag' "fleet/${{ inputs.k8s-environment }}/kustomization.yaml"
      - name: Push to fleet repo
        uses: EndBug/add-and-commit@v9 #https://github.com/EndBug/add-and-commit
        with:
          default_author: github_actions
          message: "[Lexbox] Update ${{ inputs.k8s-environment }} image: ${{ inputs.image }} to ${{ inputs.version }}"
          cwd: './fleet/'
          add: '${{ inputs.k8s-environment }}/*'
          push: true
  verify-published:
    name: Verify ${{ matrix.verify.name }} Published
    runs-on: ubuntu-latest
    needs: deploy
    strategy:
      fail-fast: true
      matrix:
        verify:
          - version: ${{ needs.deploy.outputs.api-version }}
            endpoint: ${{ inputs.deploy-domain }}/api/healthz
            name: API
          - version: ${{ needs.deploy.outputs.ui-version }}
            endpoint: ${{ inputs.deploy-domain }}/healthz
            name: UI
    steps:
      - name: Verify Version
        env:
          TARGET_ENDPOINT: ${{ matrix.verify.endpoint }}
          EXPECTED_VERSION: ${{ matrix.verify.version }}
        run: |
          IterateCount=10
          DelayMultiplier=5
          n=0
          until [ $n -ge $IterateCount ]
          do
            curl -s --head "$TARGET_ENDPOINT" > response.txt
            # get version from response, trim off the header and fix the line endings
            versionHeader=$((grep "lexbox-version" response.txt || echo VersionNotFound) | cut -d' ' -f 2 | tr -d '[:space:]')
            if [[ "$versionHeader" == "$EXPECTED_VERSION" ]]; then
                echo "Version is correct"
                exit 0
            else
                echo "Version '$versionHeader' is incorrect, expected '$EXPECTED_VERSION'"
                n=$((n+1))
                sleep $((DelayMultiplier * n))
            fi
          done

          echo "Version $versionHeader is still incorrect after waiting"
          exit 1

