name: lexbox ui

# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#on
on:
  push:
    paths:
      - 'frontend/**'
      - '.github/workflows/lexbox-ui.yaml'
      - '.github/workflows/deploy.yaml'
    branches:
      - main
      - develop
  pull_request:
    paths:
      - 'frontend/**'
      - '.github/workflows/lexbox-ui.yaml'
      - '.github/workflows/deploy.yaml'
    branches:
      - main
      - develop

env:
  PROD_RELEASE: ${{github.ref == vars.PROD_BRANCH}}

jobs:
  publish-ui:
    runs-on: ubuntu-latest

    env:
      # https://docs.docker.com/develop/develop-images/build_enhancements/
      DOCKER_BUILDKIT: 1

    steps:
      - uses: actions/checkout@v3
      - name: pnpm install
        working-directory: ./frontend
        run: |
          corepack enable
          pnpm install
      - name: vitest
        working-directory: ./frontend
        run: |
          pnpm run test:unit -- --reporter=default --reporter=junit --outputFile.junit=./testresults/vitest-results.xml
      - name: Upload test results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          check_name: UI unit Tests
          files: ./frontend/testresults/*.xml
      - name: Set Version
        id: setVersion
        # set version to date in vYYYY-MM-DD format
        run: |
          shortSha=$(echo ${{ github.sha }} | cut -c1-8)
          echo "VERSION=v$(date --rfc-3339=date):$shortSha" >> ${GITHUB_ENV}
          echo "VERSION=v$(date --rfc-3339=date):$shortSha" >> ${GITHUB_OUTPUT}

      - name: Docker meta
        id: meta
        if: ${{ !env.ACT }}
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/sillsdev/lexbox-ui
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=raw,enable=${{ env.PROD_RELEASE }},value=latest
            type=raw,enable=${{ env.PROD_RELEASE }},value=${{ env.VERSION }}

      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v4
        with:
          context: frontend
          build-args: |
            APP_VERSION=${{ env.VERSION }}
          push: ${{ !env.ACT && github.repository == 'sillsdev/languageforge-lexbox' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  deploy-ui:
    uses: ./.github/workflows/deploy.yaml
#    if: ${{github.ref == vars.PROD_BRANCH}}
    if: ${{ false }}
    secrets: inherit
    needs: publish-ui
  check-and-lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v3
      - run: corepack enable
      - run: pnpm install
      - run: pnpm run build # We need code/types generated by the build (e.g. gql/generated)
      - run: pnpm run check --output machine
      - run: pnpm run lint
