name: Build lexbox API

# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#on
on:
  workflow_call:
    inputs:
      version:
        description: 'The version of the image to build'
        required: true
        type: string
      label-latest:
        description: 'The label to apply to the latest image'
        type: boolean
        default: false

env:
  IMAGE_NAME: ghcr.io/sillsdev/lexbox-api


jobs:
  publish-api:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    # postgres db is for automated tests
    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_PASSWORD: 972b722e63f549938d07bd8c4ee5086c
          POSTGRES_DB: lexbox-tests
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5433:5432

    env:
      # https://docs.docker.com/develop/develop-images/build_enhancements/
      DOCKER_BUILDKIT: 1

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.x'
      - name: Dotnet build
        run: dotnet build
      - name: Unit tests
        run: dotnet test --logger xunit --results-directory ./test-results --filter "Category!=Integration" --blame-hang-timeout 10m
      - name: Publish unit test results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          check_name: C# Unit Tests
          files: ./test-results/*.xml
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: dotnet-unit-test-results
          path: ./test-results

      - name: Docker meta
        id: meta
        if: ${{ !env.ACT }}
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=raw,enable=${{ inputs.label-latest }},value=latest
            type=raw,enable=${{ inputs.label-latest }},value=${{ inputs.version }}

      - name: ghcr.io login
        uses: docker/login-action@v2
        if: ${{ !env.ACT }}
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v4
        with:
          context: backend
          build-args: |
            APP_VERSION=${{ inputs.version }}
          push: ${{ !env.ACT && github.repository == 'sillsdev/languageforge-lexbox' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
